# База данных футбольных клубов Европы

In [1]:
import sqlite3

Устанавливаем соединение с базой данных.

In [2]:
connection = sqlite3.connect('test_database.db')
cursor = connection.cursor()

Создаем таблицу.

In [3]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS clubs(
id int, 
name text,
city text,
stadium text,
id_coaches int,
foundation int,
id_trophies int)
                ''')
cursor.execute('''
CREATE TABLE IF NOT EXISTS coaches(
id int,
name text,
age int)
''')

cursor.execute("""
CREATE TABLE IF NOT EXISTS trophies(
id int,
name text,
count int)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS players(
id int,
id_clubs int,
name text,
id_nations int,
age int,
position text,
price int)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS nations(
id int,
name text)
""")

In [4]:
'''cursor.execute("""DROP Table clubs""")
cursor.execute("""DROP Table coaches""")
cursor.execute("""DROP Table trophies""")
cursor.execute("""DROP Table players""")
cursor.execute("""DROP Table nations""")'''

'cursor.execute("""DROP Table clubs""")\ncursor.execute("""DROP Table coaches""")\ncursor.execute("""DROP Table trophies""")\ncursor.execute("""DROP Table players""")\ncursor.execute("""DROP Table nations""")'

In [5]:
cursor.execute('''
INSERT INTO clubs(id, name, city, stadium, id_coaches, foundation, id_trophies) VALUES 
(1, 'Manchester City', 'Manchester', ' Etihad Stadium', 1,  1880, 1),
(2, 'Bayern', 'Munich', 'Allianz Arena', 2, 1900, 2),
(3, 'Liverpool', 'Liverpool', 'Anfield', 3, 1892, 3),
(4, 'Chelsea', 'London', 'Stamford Bridge', 4, 1905, 4),
(5, 'PSG', 'Paris', 'Parc des Princes', 5, 1970, 5),
(6, 'Real Madrid', 'Madrid', 'Santiago Bernabeu', 6, 1902, 6),
(7, 'Barcelona', 'Barcelona',  'Camp Nou', 7, 1899, 7),
(8, 'Manchester United', 'Manchester', 'Old Trafford', 8, 1878, 8),
(9, 'Juventus', 'Turin', 'Juventus Stadium', 9, 1897, 9),
(10, 'Atletico Madrid', 'Madrid', 'Wanda Metropolitano', 10, 1903, 10),
(11, 'Borussia Dortmund', 'Dortmund', 'Signal Iduna Park', 11, 1909, 11),
(12, 'Roma', 'Rome', 'Stadio Olimpico', 12, 1927, 12),
(13, 'Inter Milan' , 'Milan', 'San Siro', 13, 1908, 13),
(14, 'Tottenham', 'London', 'Tottenham Hotspur Stadium', 14, 1882, 14),
(15, 'Arsenal', 'London', 'Emirates Stadium', 15, 1886, 15),
(16, 'Sevilla', 'Seville', 'Ramon Sanchez Pizjuan Stadium', 16, 1890, 16);
 ''')

cursor.execute('''
INSERT INTO coaches(id, name, age) VALUES
(1, 'Pep Guardiola', 51),
(2, 'Julian Nagelsmann', 35),
(3, 'Jurgen Klopp', 55),
(4, 'Graham Potter', 47),
(5, 'Christophe Galtier', 56),
(6, 'Carlo Ancelotti', 63),
(7, 'Xavi', 42),
(8, 'Erik ten Hag', 52),
(9, 'Massimiliano Allegri', 55),
(10, 'Diego Simeone', 52),
(11, 'Edin Terziс', 40),
(12, 'Jose Mourinho', 59),
(13, 'Simone Inzaghi', 46),
(14, 'Antonio Conte', 53),
(15, 'Mikel Arteta', 40),
(16, 'Jorge Sampaoli', 62);
''')

cursor.execute("""
INSERT INTO trophies(id, name, count) VALUES
(1, 'Premier League', 8),
(2, 'Champions League', 6),
(3, 'Premier League', 19),
(4, 'Premier League', 6),
(5, 'Ligue 1', 9),
(6, 'Champions League', 14),
(7, 'Primera', 26),
(8, 'Fifa Club World Cup', 1),
(9, 'Seria A', 36),
(10, 'Europa League', 3),
(11, 'German Cup', 5),
(12, 'Conference League', 1),
(13, 'Champions League', 3),
(14, 'UEFA CUP ', 2),
(15, 'FA CUP', 14),
(16, 'Spanish Cup ', 5);
""")

cursor.execute("""
INSERT INTO players(id, id_clubs, name, id_nations, age, position, price) VALUES
(1, 1, 'Erling Haaland', 1, 22, 'Forward',  17000000),
(2, 2,'Manuel Neuer', 2, 36, 'Goalkeeper', 12000000),
(3, 2,'Sadio Mane', 3, 30, 'Left Winger', 60000000),
(4, 3, 'Mohamed Salah', 4, 30, 'Right Winger', 80000000),
(5, 4,'Ngolo Kante', 5, 31, 'Midfielder', 30000000),
(6, 4,'Raheem Sterling', 6, 27, 'Left Winger', 70000000),
(7, 5,'Lionel Messi', 7, 35, 'Right Winger', 50000000),
(8, 5,'Neymar', 8, 30, 'Left Winger', 75000000),
(9, 6,'Karim Benzema', 5, 34, 'Forward', 35000000),
(10, 6, 'Luka Modric', 9, 37, 'Midfielder', 10000000),
(11, 7, 'M. ter Stegen', 2, 30, 'Goalkeeper', 30000000),
(12, 8, 'Cristiano Ronaldo', 10, 37, 'Forward', 20000000),
(13, 9, 'Bremer', 8, 25, 'Centre-Back', 40000000),
(14, 9, 'Pogba', 5, 29, 'Midfielder', 35000000),
(15, 10, 'Thomas Lemar', 5, 27, 'Left Winger', 30000000),
(16, 11, 'Bellingham', 6, 19, 'Midfielder', 100000000),
(17, 12, 'Dybala', 7, 29, 'Forward', 30000000),
(18, 13, 'Martinez', 7, 25, 'Forward', 75000000),
(19, 14, 'Kane', 6, 29, 'Forward', 90000000),
(20, 15, 'Saliba', 5, 21, 'Centre-Back', 50000000),
(21, 16, 'Lamela', 7, 30, 'Right-Winger', 14000000),
(22, 1, 'Ederson', 8, 29, 'Goalkeeper', 45000000),
(23, 1, 'Aymeric Laporte', 11, 28, 'Centre-Back', 38000000),
(24, 1, 'Kyle Walker', 6, 32, 'Right-Back', 15000000),
(25, 1, 'Kevin De Bruyne', 12, 31, 'Midfielder', 80000000),
(26, 2, 'Alphonso Davies', 13, 22, 'Left-Back', 70000000),
(27, 2, 'Kingsley Coman', 5, 26, 'Right Winger', 60000000),
(28, 2, 'Thomas Muller', 2, 33, 'Second Striker', 18000000),
(29, 3, 'Alisson', 8, 30, 'Goalkeeper', 50000000),
(30, 3, 'Thiago', 11, 31, 'Midfielder', 18000000),
(31, 4, 'Thiago Silva', 8, 38, 'Centre-Back', 3000000),
(32, 4, 'Mateo Kavacic', 9, 28, 'Midfielder', 40000000),
(33, 5, 'Sergio Ramos', 11, 36, 'Centre-Back', 6000000),
(34, 5, 'Kylian Mbappe', 5, 23, 'Forward', 160000000),
(35, 6, 'Daniel Carvajal', 11, 30, 'Right-Back', 18000000),
(36, 6, 'Toni Kroos', 2, 32, 'Midfielder', 20000000),
(37, 6, 'Vinicius Junior', 8, 22, 'Left Winger', 120000000),
(38, 6, 'Eden Hazard', 12, 31, 'Left Winger', 8000000),
(39, 7, 'Gerard Pique', 11, 35, 'Centre-Back', 3000000),
(40, 7, 'Jordi Alba', 11, 33, 'Righr-Back', 5000000),
(41, 7, 'Sergio Busquets', 11, 34, 'Centre-Back', 5000000),
(42, 7, 'Pedri', 11, 20, 'Midfielder', 100000000),
(43, 7, 'Gavi', 11, 18, 'Midfielder', 90000000),
(44, 7, 'Robert Lewandowski', 14, 34, 'Forward', 45000000),
(45, 8, 'David de Gea', 11, 32, 'Goalkeeper', 15000000),
(46, 8, 'Raphael Varane', 5, 29, 'Centre-Back', 40000000),
(47, 8, 'Harry Maguire', 6, 29, 'Centre-Back', 30000000),
(48, 8, 'Casemiro', 8, 30, 'Midfielder', 50000000),
(49, 8, 'Bruno Fernandes', 10, 28, 'Midfielder', 75000000),
(50, 9, 'Wojciech Szczesny', 14, 32, 'Goalkeeper', 13000000),
(51, 9, 'Leonardo Bonucci', 15, 35, 'Centre-Back', 4000000),
(52, 9, 'Alex Sandro', 8, 31, 'Left-Back', 5000000),
(53, 10, 'Koke', 11, 30, 'Midfielder', 18000000),
(54, 10, 'Antoine Griezmann', 5, 31, 'Second Striker', 25000000),
(55, 11, 'Mats Hummels', 2, 33, 'Centre-Back', 7000000),
(56, 11, 'Marko Reus', 2, 33, 'Midfielder', 9000000),
(57, 12, 'Rui Patricio', 10, 34, 'Goalkeeper', 5000000),
(58, 12, 'Stephan El Shaarawy', 15, 30, 'Left Winger', 5000000),
(59, 13, 'Nicolo Barella', 15, 25, 'Midfielder', 70000000),
(60, 13, 'Romelu Lukaku', 12, 29, 'Forward', 55000000),
(61, 13, 'Marcelo Brozovic', 9, 30, 'Midfielder', 35000000),
(62, 14, 'Hugo Lloris', 5, 35, 'Goalkeeper', 7000000),
(63, 14, 'Ivan Perisic', 9, 33, 'Left Winger', 10000000),
(64, 14, 'Richarlison', 8, 25, 'Forward', 50000000),
(65, 15, 'Bukayo Saka', 6, 21, 'Right Winger', 90000000),
(66, 15, 'Martin Odegaard', 1, 23, 'Midfielder', 60000000),
(67, 15, 'Gabriel Gesus', 8, 25, 'Forward', 75000000),
(68, 16, 'Alex Telles', 8, 29, 'Left-Back', 14000000),
(69, 16, 'Jesus Navas', 11, 37, 'Right-Back', 3000000),
(70, 16, 'Isco', 11, 30, 'Midfielder', 9000000);
""")

cursor.execute("""
INSERT INTO nations(id, name) VALUES
(1, 'Norway'),
(2, 'Germany'),
(3, 'Senegal'),
(4, 'Egypt'),
(5, 'France'),
(6, 'England'),
(7, 'Argentina'),
(8, 'Brazil'),
(9, 'Croatia'),
(10, 'Portugal'),
(11, 'Spain'),
(12, 'Belgium'),
(13, 'Canada'),
(14, 'Poland'),
(15, 'Italy');
""")

In [6]:
cursor.execute('SELECT * FROM nations')
nation = cursor.fetchall()

In [7]:
for el in nation:
    print(el)

(1, 'Norway')
(2, 'Germany')
(3, 'Senegal')
(4, 'Egypt')
(5, 'France')
(6, 'England')
(7, 'Argentina')
(8, 'Brazil')
(9, 'Croatia')
(10, 'Portugal')
(11, 'Spain')
(12, 'Belgium')
(13, 'Canada')
(14, 'Poland')
(15, 'Italy')

In [8]:
cursor.execute('SELECT name, age FROM players')
player_s = cursor.fetchall()
for el in player_s:
    print(el)

('Erling Haaland', 22)
('Manuel Neuer', 36)
('Sadio Mane', 30)
('Mohamed Salah', 30)
('Ngolo Kante', 31)
('Raheem Sterling', 27)
('Lionel Messi', 35)
('Neymar', 30)
('Karim Benzema', 34)
('Luka Modric', 37)
('M. ter Stegen', 30)
('Cristiano Ronaldo', 37)
('Bremer', 25)
('Pogba', 29)
('Thomas Lemar', 27)
('Bellingham', 19)
('Dybala', 29)
('Martinez', 25)
('Kane', 29)
('Saliba', 21)
('Lamela', 30)
('Ederson', 29)
('Aymeric Laporte', 28)
('Kyle Walker', 32)
('Kevin De Bruyne', 31)
('Alphonso Davies', 22)
('Kingsley Coman', 26)
('Thomas Muller', 33)
('Alisson', 30)
('Thiago', 31)
('Thiago Silva', 38)
('Mateo Kavacic', 28)
('Sergio Ramos', 36)
('Kylian Mbappe', 23)
('Daniel Carvajal', 30)
('Toni Kroos', 32)
('Vinicius Junior', 22)
('Eden Hazard', 31)
('Gerard Pique', 35)
('Jordi Alba', 33)
('Sergio Busquets', 34)
('Pedri', 20)
('Gavi', 18)
('Robert Lewandowski', 34)
('David de Gea', 32)
('Raphael Varane', 29)
('Harry Maguire', 29)
('Casemiro', 30)
('Bruno Fernandes', 28)
('Wojciech Szczesny', 32)
('Leonardo Bonucci', 35)
('Alex Sandro', 31)
('Koke', 30)
('Antoine Griezmann', 31)
('Mats Hummels', 33)
('Marko Reus', 33)
('Rui Patricio', 34)
('Stephan El Shaarawy', 30)
('Nicolo Barella', 25)
('Romelu Lukaku', 29)
('Marcelo Brozovic', 30)
('Hugo Lloris', 35)
('Ivan Perisic', 33)
('Richarlison', 25)
('Bukayo Saka', 21)
('Martin Odegaard', 23)
('Gabriel Gesus', 25)
('Alex Telles', 29)
('Jesus Navas', 37)
('Isco', 30)

In [9]:
cursor.execute("SELECT name, age, price FROM players WHERE price > 20000000 ")
price_of_players = cursor.fetchall()
for el in price_of_players:
    print(el)

('Sadio Mane', 30, 60000000)
('Mohamed Salah', 30, 80000000)
('Ngolo Kante', 31, 30000000)
('Raheem Sterling', 27, 70000000)
('Lionel Messi', 35, 50000000)
('Neymar', 30, 75000000)
('Karim Benzema', 34, 35000000)
('M. ter Stegen', 30, 30000000)
('Bremer', 25, 40000000)
('Pogba', 29, 35000000)
('Thomas Lemar', 27, 30000000)
('Bellingham', 19, 100000000)
('Dybala', 29, 30000000)
('Martinez', 25, 75000000)
('Kane', 29, 90000000)
('Saliba', 21, 50000000)
('Ederson', 29, 45000000)
('Aymeric Laporte', 28, 38000000)
('Kevin De Bruyne', 31, 80000000)
('Alphonso Davies', 22, 70000000)
('Kingsley Coman', 26, 60000000)
('Alisson', 30, 50000000)
('Mateo Kavacic', 28, 40000000)
('Kylian Mbappe', 23, 160000000)
('Vinicius Junior', 22, 120000000)
('Pedri', 20, 100000000)
('Gavi', 18, 90000000)
('Robert Lewandowski', 34, 45000000)
('Raphael Varane', 29, 40000000)
('Harry Maguire', 29, 30000000)
('Casemiro', 30, 50000000)
('Bruno Fernandes', 28, 75000000)
('Antoine Griezmann', 31, 25000000)
('Nicolo Barella', 25, 70000000)
('Romelu Lukaku', 29, 55000000)
('Marcelo Brozovic', 30, 35000000)
('Richarlison', 25, 50000000)
('Bukayo Saka', 21, 90000000)
('Martin Odegaard', 23, 60000000)
('Gabriel Gesus', 25, 75000000)

1. Выбрать игроков, которые младше 22 лет, и их возраст, 
отсортировать по убыванию возраста.

In [10]:
cursor.execute("SELECT name, age FROM players WHERE age < 22 ORDER BY age")
request_1 = cursor.fetchall()
for el in request_1:
    print(el)

('Gavi', 18)
('Bellingham', 19)
('Pedri', 20)
('Saliba', 21)
('Bukayo Saka', 21)

2. Выбрать футбольные клубы, расположенные в Лондоне.

In [11]:
data = cursor.execute("SELECT * FROM clubs WHERE city = 'London'")
request_2 = cursor.fetchall()
for column in data.description:
    print(column[0], end='  ')
print()
for el in request_2:
    print(el)

id  name  city  stadium  id_coaches  foundation  id_trophies
(4, 'Chelsea', 'London', 'Stamford Bridge', 4, 1905, 4)
(14, 'Tottenham', 'London', 'Tottenham Hotspur Stadium', 14, 1882, 14)
(15, 'Arsenal', 'London', 'Emirates Stadium', 15, 1886, 15)

3. Выбрать самый старый футбольный клуб и его год основания.

In [12]:
data = cursor.execute("SELECT name, foundation FROM clubs ORDER BY foundation LIMIT 1 ")
request_3 = cursor.fetchall()
for column in data.description:
    print(column[0], end='  ')
print()
for el in request_3:
    print(el)

name  foundation
('Manchester United', 1878)

4. Выбрать 3 самых старых вратарей, их возраст и позицию. Вывести в 
порядке убывания.

In [13]:
data = cursor.execute("SELECT name, age, position FROM players WHERE position='Goalkeeper' ORDER BY age DESC LIMIT 3")
request_4 = cursor.fetchall()
for column in data.description:
    print(column[0], end='  ')
print()
for el in request_4:
    print(el)

name  age  position
('Manuel Neuer', 36, 'Goalkeeper')
('Hugo Lloris', 35, 'Goalkeeper')
('Rui Patricio', 34, 'Goalkeeper')

5. Выбрать клуб и его действующего тренера, вывести в 
алфавитном порядке.

In [14]:
data = cursor.execute("SELECT clubs.name, coaches.name FROM coaches INNER JOIN clubs ON clubs.id_coaches=coaches.id ORDER BY clubs.name ")
request_5 = cursor.fetchall()
for column in data.description:
    print(column[0], end='  ')
print()
for el in request_5:
    print(el)

name  name
('Arsenal', 'Mikel Arteta')
('Atletico Madrid', 'Diego Simeone')
('Barcelona', 'Xavi')
('Bayern', 'Julian Nagelsmann')
('Borussia Dortmund', 'Edin Terziс')
('Chelsea', 'Graham Potter')
('Inter Milan', 'Simone Inzaghi')
('Juventus', 'Massimiliano Allegri')
('Liverpool', 'Jurgen Klopp')
('Manchester City', 'Pep Guardiola')
('Manchester United', 'Erik ten Hag')
('PSG', 'Christophe Galtier')
('Real Madrid', 'Carlo Ancelotti')
('Roma', 'Jose Mourinho')
('Sevilla', 'Jorge Sampaoli')
('Tottenham', 'Antonio Conte')

6. Выбрать сборные, и посчитать количество их игроков, 
представленных в базе, вывести по убыванию.

In [15]:
data = cursor.execute("SELECT nations.name, COUNT(players.id) FROM nations INNER JOIN players ON players.id_nations=nations.id GROUP BY nations.name ORDER BY COUNT(players.id) DESC")
request_6 = cursor.fetchall()
for column in data.description:
    print(column[0], end='  ')
print()
for el in request_6:
    print(el)

name  COUNT(players.id)
('Spain', 13)
('Brazil', 11)
('France', 10)
('Germany', 6)
('England', 6)
('Croatia', 4)
('Argentina', 4)
('Portugal', 3)
('Italy', 3)
('Belgium', 3)
('Poland', 2)
('Norway', 2)
('Senegal', 1)
('Egypt', 1)
('Canada', 1)

7. Выбрать клуб с самым большим количеством трофеев, вывести 
название трофея и количество.

In [16]:
data = cursor.execute("SELECT clubs.name, trophies.name, trophies.count FROM clubs INNER JOIN trophies on trophies.id = clubs.id_trophies ORDER BY trophies.count DESC LIMIT 1")
request_7 = cursor.fetchall()
for column in data.description:
    print(column[0], end='  ')
print()
for el in request_7:
    print(el)

name  name  count
('Juventus', 'Seria A', 36)

8. Вывести клуб с наибольшим количеством испанцев, и их количество.

In [17]:
data = cursor.execute("""SELECT clubs.name, COUNT(players.id) FROM clubs 
                        INNER JOIN players 
                        on clubs.id = players.id_clubs  
                        INNER JOIN nations 
                        on players.id_nations = nations.id 
                        WHERE nations.name='Spain'
                        GROUP BY clubs.name 
                        ORDER BY COUNT(players.id)
                        DESC LIMIT 1""")
request_8 = cursor.fetchall()
for column in data.description:
    print(column[0], end=' ')
print()
for el in request_8:
    print(el)

name COUNT(players.id)
('Barcelona', 5)

9. Вывести в порядке убывания стоимости, название клуба и игроков, 
чья стоимость выше средней.

In [18]:
data = cursor.execute("""SELECT players.name, players.price, clubs.name  
                      FROM players
                      JOIN clubs
                      on players.id_clubs = clubs.id
                      WHERE price > (SELECT AVG(price) FROM players)
                      ORDER BY players.price DESC """)
request_9 = cursor.fetchall()
for column in data.description:
    print(column[0], end='  ')
print()
for el in request_9:
    print(el)

name  price  name
('Kylian Mbappe', 160000000, 'PSG')
('Vinicius Junior', 120000000, 'Real Madrid')
('Bellingham', 100000000, 'Borussia Dortmund')
('Pedri', 100000000, 'Barcelona')
('Kane', 90000000, 'Tottenham')
('Gavi', 90000000, 'Barcelona')
('Bukayo Saka', 90000000, 'Arsenal')
('Mohamed Salah', 80000000, 'Liverpool')
('Kevin De Bruyne', 80000000, 'Manchester City')
('Neymar', 75000000, 'PSG')
('Martinez', 75000000, 'Inter Milan')
('Bruno Fernandes', 75000000, 'Manchester United')
('Gabriel Gesus', 75000000, 'Arsenal')
('Raheem Sterling', 70000000, 'Chelsea')
('Alphonso Davies', 70000000, 'Bayern')
('Nicolo Barella', 70000000, 'Inter Milan')
('Sadio Mane', 60000000, 'Bayern')
('Kingsley Coman', 60000000, 'Bayern')
('Martin Odegaard', 60000000, 'Arsenal')
('Romelu Lukaku', 55000000, 'Inter Milan')
('Lionel Messi', 50000000, 'PSG')
('Saliba', 50000000, 'Arsenal')
('Alisson', 50000000, 'Liverpool')
('Casemiro', 50000000, 'Manchester United')
('Richarlison', 50000000, 'Tottenham')
('Ederson', 45000000, 'Manchester City')
('Robert Lewandowski', 45000000, 'Barcelona')
('Bremer', 40000000, 'Juventus')
('Mateo Kavacic', 40000000, 'Chelsea')
('Raphael Varane', 40000000, 'Manchester United')

10. Вывести 2 самых дорогих нападающих из Лондонских клубов в 
порядке убывания.

In [19]:
data = cursor.execute("""SELECT players.name, players.price, clubs.name FROM players
                         JOIN clubs
                        on clubs.id = players.id_clubs
                        WHERE players.position='Forward'
                        and clubs.city='London' ORDER BY players.price DESC LIMIT 2""")
request_10 = cursor.fetchall()
for column in data.description:
    print(column[0], end='  ')
print()
for el in request_10:
    print(el)

name  price  name
('Kane', 90000000, 'Tottenham')
('Gabriel Gesus', 75000000, 'Arsenal')